.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  border-top: 2px solid #e2e2e2;
  user-select: none;

  .chooser {
    display: flex;
    align-items: center;
    column-gap: 10px;
    p {
      font-weight: 600;
      font-size: 18px;
    }
    ul {
      display: flex;
      align-items: center;
      column-gap: 10px;

      li {
        cursor: pointer;
      }
    }
  }

  .clear__all {
    cursor: pointer;
  }
}
